body {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, hsla(208, 33%, 21%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);  
    color: hsla(180, 36%, 46%, 1);
}

.portalHolder, .windowHolder {
    display: flex;
    /* flex-flow etc in media */
}

.headerDiv {
    border: 2px solid  hsla(211, 36%, 46%, 1);
    border-radius: 20px;
    margin: 5vh auto;
    text-align: center; 
    /* width and fontsize to be added via media */
}

.headerDiv a {
    color: hsla(180, 36%, 46%, 1);
    font-style: italic;
    font-size: 0.75em;
}

fieldset {
    width: 60vw;
    border-color: hsla(211, 36%, 46%, 1);
    border-radius: 10px;
}

.windowCF2M {
    background-image: url(../images/cf2m_logo.png); 
    
    background-color: white;
}

.windowGit {
    background-image: url(../images/git_shadow.jpeg);
}

.windowTI1 {
    background-image: url(../images/TI1.png);
}

.windowTI2 {
    background-image: url(../images/postit.jpeg);
}

.windowEarlyJS {
  /*  background-image: url(../images/earlyJS.png); */
    background-image: url(../images/javascript.jpeg);
}

.windowPrefo {
   /* background-image: url(../images/prefo.png); */
    background-image: url(../images/cmdrPet.jpeg);
}

.windowTBA1 {
    background-image: url(../images/comingsoon_shadow.jpeg);
}

.windowTBA2 {
    background-image: url(../images/comingsoon_neon.jpeg); 
}

h6 {
    text-align: center;
    color: #fff;
}

h3 {
    text-align: center;
    width: 100%;
    text-decoration: underline;
    font-style: italic;
    /* margins and fontsize in media */
}


.windowHolder {
    /* width and margin in media */
    transition: transform 1250ms ease-in-out;
}

.spinIt {
    transform: rotateY(-360deg);
}

.portalWindow {
    margin: 3% 0 10%;
    border: 2px solid  hsla(211, 36%, 46%, 1);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8; 
    transition: all 450ms ease-in-out;
    /* width and height in media */
}


.portalWindow:hover {
    transform: scale(1.3);
    opacity: 1;
}

.contactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 20vh;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}

.contactHolder {
    display: flex;
    flex-direction: column;
}

.contactLabel {
    width: 15%;
    text-align: right;
    margin-right: 10px;
}

.sendBut {
    width: 10vw;
    color:  hsla(255, 36%, 46%, 1);
    background-color:  hsla(220, 13%, 76%, 1);;
}

.contactInp {
    width: 60%;
    background-color:  hsla(180, 13%, 76%, 1);
}

.formInp {
    padding-left: 3%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2px auto;
}

textarea {
    margin-bottom: 5px;
}

.messageHolder, .messageWindow {
    border: 2px solid  hsla(211, 36%, 46%, 1);
    border-radius: 20px;
}

.messageWindow {
    margin-top: 5vh;
    padding: 1vh 0;
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.messageHolder {
    text-align: center;
    margin: 5px;
    width: 60%;
    padding: 0 25px;
}


@media screen and (max-width: 600px) {

    .headerDiv {
        width: 90%;
        font-size: 14px;
    }

    .portalHolder {
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        padding-top: 2vh;
    }

    .windowHolder, .portalWindow {
        flex-flow: column nowrap;
        align-items: center;
        width: 85%;
        height: 40vw;
    }

    h3 {
        font-size: 1em;
        margin: 0;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {

    .headerDiv {
        width: 90%;
        font-size: 18px;
    }

    .portalHolder {
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        padding-top: 2vh;
    }

    .windowHolder, .portalWindow {
        flex-flow: column nowrap;
        align-items: center;
        width: 85%;
        height: 40vw;
    }

    h3 {
        font-size: 1.5em;
        margin: 0;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {

    .headerDiv {
        width: 90%;
        font-size: 18px;
    }

    .portalHolder {
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        padding-top: 2vh;
    }

    .windowHolder, .portalWindow {
        flex-flow: column nowrap;
        align-items: center;
        width: 85%;
        height: 40vw;
    }

    h3 {
        font-size: 2em;
        margin: 0;
    }
}


@media screen and (min-width: 1200px) {

    .headerDiv {
        width: 90%;
        font-size: 24px;
    }

    fieldset {
        width: 85vw;
    }

    .portalHolder {
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        padding-top: 2vh;
    }

    .windowHolder {
        flex-flow: column nowrap;
        align-items: center;
        width: 33%;
    }
    
    .portalWindow {
        width: 80%;
        height: 22vw;
    }

    h3 {
        font-size: 1.5em;
        margin: 0;
    }
}