body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsla(208, 33%, 21%, 1);
    background: linear-gradient(180deg, hsla(208, 33%, 21%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);    
    background-repeat: no-repeat;
    height: 100vh;
}

.headerDiv {
    width: 50vw;
    border: 2px solid  hsla(211, 36%, 46%, 1);
    border-radius: 20px;
    margin: 15vh auto 5vh;
}

h1 {
    text-align: center;
    color: hsla(211, 36%, 46%, 1);
}

fieldset {
    width: 60vw;
    color: hsla(211, 36%, 46%, 1);
    border-color: hsla(211, 36%, 46%, 1);
    border-radius: 10px;
}

.portalHolder {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.portalWindow {
    margin: 3%;
    border: 2px solid  hsla(211, 36%, 46%, 1);
    border-radius: 20px;
    width: 10vw;
    height: 12vh;
    transition: all 350ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portalHolder a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 350ms ease-in-out;
    color: hsla(211, 36%, 46%, 1);
}

.portalHolder a:hover {
    transform: scale(2);
}


.portalSpan {
    width: 100%;
    height: 100%;   
}

.windowCF23 {
    background-image: url(../images/cf2m.png); 
}

.windowGit {
    background-image: url(../images/git.png); 
}

.windowTI1 {
    background-image: url(../images/TI1.png); 
}

.windowTI2 {
    background-image: url(../images/TI2.png); 
}

.windowEarlyJS {
    background-image: url(../images/earlyJS.png);
}

.windowPrefo {
    background-image: url(../images/prefo.png);
}

.windowTBA1 {
    background-image: url(../images/abstract-coming-soon-halftone-style-background-design/27282.jpg);
}


.windowTBA2 {
    background-image: url(../images/coming-soon-text-abstract-sunrise-dark-background-with-motion-effect/03092022_rorozoa_10.jpg);
}